/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 45px;
} */

/* .block-1 {
  display: flex;
  flex-direction: row;
}

.block-2 {
  display: flex;
  flex-direction: row;
}

.block-3 {
  display: flex;
  flex-direction: row;
} */

/* .container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 4vh;
  border: 1vh solid #48cae4;
} */

/* [class^="block-"] {
  display: flex;
  flex-direction: row;
  height: calc(100vh / 3);
  gap: 4vh;
} */

/* .box-1 {
  background-color: #c1c1c1;
  border: 2px solid black;
  border-radius: 10px;
} */
/* 
[class^="box-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1c1c1;
  border: 2px solid black;
  border-radius: 10px;
  flex-basis: calc(100% / 3);
} */

/* @media (max-width: 480px) {
  [class^="block-"] {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 45px;
}
/* .block-1 {
  display: flex;
  flex-direction: row;
} */

[class^="block-"] {
  display: flex;
  flex-direction: row;
  height: calc(100vh / 3);
  gap: 4vh;
}

.container {
  display: flex;
  gap: 4vh;
  flex-direction: column;
  padding: 4vh;
  border: 1vh solid #48cae4;
}

[class^="box-"] {
  background-color: #c1c1c1;
  border: 2px solid black;
  border-radius: 10px;
  flex-basis: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  [class^="block-"] {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
}
